*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.banner{
    width: 100%;
    height: 100vh;
    background-color: rgb(5 14 26); ;

    background-size: cover;
    background-position:center ;

}
.navbar{
    margin: auto;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0 0 0 / 89%);
    

}

.logo{
    display: inline-block;
    margin: 0 20px;
    margin-left: 77px;
    position: relative;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    margin-right: 77px;

}  

.navbar ul li a{
    text-decoration: none;
    color: #fff ;
    font-size: 19px;

    
}    
.navbar ul li::after{
    content: '';
    height:3px;
    width: 0%;
    background: #450554;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover:after{
    width: 100%;
}
.home::before{
    content:' ';
    height: 3px;
    position: absolute;
    background-color:#450554;
    margin: 29px auto;
    width: 100%;

}
.content{
    position: absolute;
    width: 60%;
    display: inline-block;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 30px;
    margin-top: 80px;
}
.content p{
    margin:20px auto;
    font-weight: 100;
    line-height: 25px;

}

button{
    width: 200px;
    padding:20px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border:2px solid #450554;
    background:transparent;
    color:#fff;
    cursor:pointer;
    position: relative;
    overflow: hidden;
}
button a{
    text-decoration: none;
    padding:15px 0;
}
span{
    background:#450554;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0; 
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}

.photo{
        position: absolute;
        height: 300px;
        width: 300px;
        margin-left: 800px;
        margin-top: 50px;
}



