*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.banner{
    width: 100%;
    height: 100vh;
    background-color: rgb(5 14 26); 
    background-size: cover;
    background-position:center ;

}
.navbar{
    margin: auto;
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: rgb(0 0 0 / 89%);
    
    

}
.logo{
    display: inline-block;
    margin: 0 20px;
    margin-left: 77px;
    position: relative;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    margin-right: 77px;

}  

.navbar ul li a{
    text-decoration: none;
    color: #fff ;
    font-size: 19px;

    
}    
.navbar ul li::after{
    content: '';
    height:3px;
    width: 0%;
    background: #450554;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    height: 3px;
    background-color: #450554;
    margin: 0 auto;
    width: 100%;
}
.skills::before{
    content:' ';
    height: 3px;
    position: absolute;
    background-color:#450554;
    margin: 29px auto;
    width: 100%;

}

.parent{
    justify-content: center;
    
    
}
.first{
    justify-content: center;
    margin: 30px 10px;
    color: white;
    text-align: center;
    font-style:italic;
}
.label{
    display: inline-block;
    width: 60%;
    font-size: 40px;
}
.first meter{
    width: 900px;
    height: 50px;
}
.first span{
    font-size: 37px;
}

